{
  "useTabs": true,
  "tabSize": 1,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.json", "*rc"],
      "options": {
        "useTabs": false,
        "tabSize": 2
      }
    }
  ]
}
