.main {
	padding: 0 16px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	margin-bottom: 8px;
}

.header span {
	font-size: 2em;
	display: inline-block;
	font-weight: 300;
}

.toggle_reorder {
	height: 32px;
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: rgba(0,0,0,.2);
	transition: color .2s;
}

.toggle_reorder:hover {
	color: rgba(0,0,0,.5);
}

.toggle_reorder.active {
	color: green;
}

.add_timer_wrapper {
	display: flex;
	margin-bottom: 8px;
}

.add_timer {
	width: 100%;
	padding: 4px 8px;
}

.add_timer_button {
	display: flex;
	background: #00b894;
	color: white;
	width: 48px;
	border-radius: 5px;
	height: 42px;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
	cursor: pointer;
}

.add_timer_button .icon {
	transform: rotate(180deg);
}