.NUajE {
	background: linear-gradient(90deg, rgb(149, 175, 192, .2) 0,rgb(149, 175, 192, .6) 60%, rgb(149, 175, 192, .8) 100%);
	transition: width .2s;
	margin-bottom: 8px;
	min-width: 250px;
	padding: 4px 6px;
	display: flex;
	flex-direction: column;
}

.NUajE:nth-child(1) {
	background: linear-gradient(90deg, rgb(249, 202, 36, .3) 0,rgb(249, 202, 36, .6) 60%, rgb(249, 202, 36) 100%);
	min-width: 280px;
}

.NUajE:nth-child(2) {
	background: linear-gradient(90deg, rgb(186, 220, 88, .3) 0,rgb(186, 220, 88, .6) 60%, rgb(186, 220, 88) 100%);
	min-width: 270px;
}

.NUajE:nth-child(3) {
	background: linear-gradient(90deg, rgb(126, 214, 223, .3) 0,rgb(126, 214, 223, .6) 60%, rgb(126, 214, 223) 100%);
	min-width: 260px;
}

.r1bti {
	padding: 0 16px;
}

._1lgOE {
	/* padding: 16px; */
}

._3q7_R {

}

._35VhJ {
	font-size: .9em;
	font-style: italic;
	color: rgba(0,0,0,.7);
}
.GSmFD {
	padding: 0 16px;
}

.b1MGS {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	margin-bottom: 8px;
}

.b1MGS span {
	font-size: 2em;
	display: inline-block;
	font-weight: 300;
}

._1PpJS {
	display: flex;
}

.y8aLv {
	width: 100%;
	padding: 4px 8px;
}

._3cEzl {
	display: flex;
	background: rgb(0, 206, 201);
	color: white;
	width: 48px;
	border-radius: 5px;
	height: 28px;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
	cursor: pointer;
}

._3cEzl ._36cvZ {
	transform: rotate(180deg);
}
._1OCtW {
	border-bottom: 1px solid lightgray;
}

._2mM-w {
	padding: 8px;
	display: flex;
	align-items: center;
}

._3uKFF {}

._1LfaP {
	width: 32px;
	height: 23px;
	
	min-width: 32px;
	min-height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 16px;

	background: rgb(0, 206, 201);
	color: rgb(0, 140, 136);
	cursor: pointer;

	border-radius: 50%;
}

.cS3jx {
	font-style: italic;
	color: rgba(0,0,0,.5);
}

._3UIos {
	margin-top: 4px;
	font-size: .9em;
	color: rgba(0,0,0,.8);
}

._21H9Z {
	font-size: .95em;
	font-family: 'Roboto Mono', monospace;
}

._2i0xT {
	margin-left: auto;
	display: flex;
}

._1_WhM {
	color: #c0392b;
}

._1MwsJ {
	color: gray;
}

._1_WhM, ._1MwsJ {
	width: 32px;
	height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	opacity: 0;
	transition: opacity .2s;
}

._1OCtW:hover ._1_WhM {
	opacity: 1;
}

._1OCtW:hover ._1_WhM, ._1OCtW:hover ._1MwsJ {
	opacity: 1;
}

._33yxf {
	display: flex;
	flex-direction: column;
	max-height: 0;
	transition: max-height .2s;
	overflow: hidden;
}

._33yxf._3uKFF {
	border-top: 1px solid rgba(0,0,0,.1);
	max-height: 300px;
	transition: max-height .4s;
}

._15RuW {
	display: inline-block;
	color: #c0392b;
	margin-left: auto;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: .8em;
	cursor: pointer;
}

.Ewbue {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
}

.Ewbue:last-child {
	margin-bottom: 0;
}

._1PJ_- {
	width: calc(100% - 36px);
	position: relative;
}

.Ewbue input {
	padding: 4px 8px;
}

._2jKgH {
	width: calc(70% - 4px);
	margin-right: 8px;
}

._3SK7q {
	width: calc(30% - 4px);
}

._3uVS0 {
	width: 28px;
	height: 28px;
	color: #ff7675;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* opacity: 0; */
	transition: opacity .2s;
}

.Ewbue:hover ._3uVS0 {
	opacity: 1;
}

.FKqt8 {
	display: inline-block;
	width: auto;
	font-size: .9em;
	color: #1abc9c;
	margin-bottom: 8px;
	cursor: pointer;
	transition: background .2s;
}

.FKqt8:hover {
	color: #16a085;
	transition: color .3s;
}
body {
	margin: 0;
	font-weight: thin;
	font-family: "Rubik", sans-serif;
}

* {
	box-sizing: border-box;
}

h1 {
	font-weight: 300;
	margin-top: 16px;
	margin-bottom: 8px;
}
