.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	display: inline-block;
}

.select_day_wrapper {
	display: inline-flex;
	align-items: center;
}

.set_prev,
.set_next {
	width: 28px;
	height: 28px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 0.2s;
}

.set_prev:hover,
.set_next:hover {
	opacity: 1;
}

.set_prev.disabled,
.set_next.disabled,
.set_prev.disabled:hover,
.set_next.disabled:hover {
	opacity: 0.1;
}

.app {
	/* background: linear-gradient(90deg, rgb(149, 175, 192, .2) 0,rgb(149, 175, 192, .6) 60%, rgb(149, 175, 192, .8) 100%); */
	background: #dfe6e9;
	transition: width 0.2s;
	margin-bottom: 8px;
	min-width: 250px;
	padding: 4px 6px;
	display: flex;
	flex-direction: column;
}

.app:nth-child(1) {
	/* background: linear-gradient(90deg, rgb(249, 202, 36, .3) 0,rgb(249, 202, 36, .6) 60%, rgb(249, 202, 36) 100%); */
	background: #ffeaa7;
	min-width: 280px;
}

.app:nth-child(2) {
	/* background: linear-gradient(90deg, rgb(186, 220, 88, .3) 0,rgb(186, 220, 88, .6) 60%, rgb(186, 220, 88) 100%); */
	background: #fab1a0bf;
	min-width: 270px;
}

.app:nth-child(3) {
	/* background: linear-gradient(90deg, rgb(126, 214, 223, .3) 0,rgb(126, 214, 223, .6) 60%, rgb(126, 214, 223) 100%); */
	background: #63cdda96;
	min-width: 260px;
}

.main {
	padding: 0 16px;
}

.apps_list {
	/* padding: 16px; */
}

.app_title {
	/* color: white; */
}

.app_info {
	font-size: 0.9em;
	font-style: italic;
	color: rgba(0, 0, 0, 0.7);
}

.total_time {
	font-size: 0.8em;
	/* font-style: italic; */
	color: rgba(0, 0, 0, 0.6);
}
