
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <%= function(){
      return htmlWebpackPlugin.files.css
        .map((cssFile) => `<link rel="stylesheet" href="${cssFile}"></script>`)
        .join('\n')
    }() %>
  </head>
  <body>
    <div id="app-entry"></div>

    <%= function(){
      return htmlWebpackPlugin.files.js
        .map((jsFile) => `<script src="http://localhost:8080/${jsFile}"></script>`)
        .join('\n')
    }() %>
  </body>
</html>
